
@{
    ViewBag.Title = "CreateList";
}

<h2 contenteditable="true">New List</h2>

<button onclick="AddColumn();" type="button">Create new Column</button>

<table class="table table-bordered table-hover">
    <tr id="columnNamesContainer">
        <th id="columnHeader0" contenteditable="true">Column Label</th>
    </tr>
    <tr id="columnDataContainer">
        <td contenteditable="true">Column data</td>
    </tr>
</table>

<script>
    // Defining the counter variable for the new column Ids
    x = 0;

    // Add column header to table
    function AddColumn() {
        x = x + 1
        $("#columnNamesContainer").append('<td id="columnHeader' + x + '" contenteditable="true">New Column</td>')
        $("#columnDataContainer").append('<td id="columnData' + x + '" contenteditable="true">Column Data</td>');
    }
</script> <!-- You have to use backticks ` (Tilde without the shift) in order to do string interpolation in javascript -->