<th>Sample Lists</th>
<th>Date Created</th>
<th>Date Modified</th>

<tr>
    <td>List1</td>
    <td>3/25/2021</td>
    <td>4/1/2021</td>
    <td>@Html.Partial("DeleteList")</td>
</tr>
<tr>
    <td>List2</td>
    <td>3/25/2021</td>
    <td>4/1/2021</td>
</tr>
<tr>
    <td>List3</td>
    <td>3/25/2021</td>
    <td>4/1/2021</td>
</tr>
<tr>
    <td>List4</td>
    <td>3/25/2021</td>
    <td>4/1/2021</td>
</tr>
